# Be sure not to use quotes for strings in this file

# Signoff
KINTO_RO_SERVER_URL=https://settings.stage.mozaws.net/v1/
KINTO_RW_SERVER_URL=https://settings-writer.stage.mozaws.net/v1/
KINTO_AUTH_USER=kinto_signer_example_user
KINTO_AUTH_PASSWORD=kinto_signer_example_password
#KINTO_NOOP=dont_publish_if_this_is_set_to_anything
