# Be sure not to use quotes for strings in this file

# Generate with the script setup/list_all_active_ct_logs
logList=https://ct.googleapis.com/logs/argon2019/, https://ct.googleapis.com/logs/argon2020/, https://ct.googleapis.com/logs/argon2021/, https://ct.googleapis.com/logs/argon2022/, https://ct.googleapis.com/logs/argon2023/

# This is a service account JSON encoded as base64. For example:
# cat ~/gcp-credentials.json | base64 | pbcopy
credentials_data=someBase64Data

# Host for Redis in <ip>:<port> format
redisHost=127.0.0.1:6379
redisTimeout=3s

numThreads=16
runForever=true
outputRefreshPeriod=90s
statsRefreshPeriod=5m
savePeriod=30s
pollingDelayMean=60m
pollingDelayStdDev=10
healthAddr=:8080

# Set true if you want to report to Stackdriver and provide the relevant project ID
#stackdriverMetrics=true
#googleProjectId=projectname

# Publisher
KINTO_RO_SERVER_URL=https://settings.stage.mozaws.net/v1/
KINTO_RW_SERVER_URL=https://settings-writer.stage.mozaws.net/v1/
KINTO_AUTH_USER=kinto_publisher_example_user
KINTO_AUTH_PASSWORD=kinto_publisher_example_password
#KINTO_NOOP=dont_publish_if_this_is_set_to_anything
