# Be sure not to use quotes for strings in this file

# Generate with the script setup/list_all_active_ct_logs
logList=https://ct.googleapis.com/logs/argon2019/, https://ct.googleapis.com/logs/argon2020/, https://ct.googleapis.com/logs/argon2021/, https://ct.googleapis.com/logs/argon2022/, https://ct.googleapis.com/logs/argon2023/

# This is a service account JSON encoded as base64. For example:
# cat ~/gcp-credentials.json | base64 | pbcopy
credentials_data=someBase64Data

# Host for Redis in <ip>:<port> format
redisHost=127.0.0.1:6379
redisTimeout=3s

numThreads=16
runForever=true
outputRefreshPeriod=90s
statsRefreshPeriod=5m
pollingDelayMean=60m
pollingDelayStdDev=10

# The save period needs to be coordinated with the ct-fetch pod liveness probe,
# as liveness health information won't be available until the first save.
# The actual save period is this + a few seconds of jitter calculated in ct-fetch
savePeriod=30s
# The health address should be a [address]:port string, where address defaults to *
healthAddr=:8080

# The Google Cloud Storage bucket for artifact storage
crlite_filter_bucket=crlite_filters_staging

# Set if you want to provide StatsD metrics
# statsdHost=localhost
# statsdPort=8125
